%table.table.table-striped
  %thead
    %tr
      %th exercise
      %th reps range
      %th muscles
      %th reps
      %th weight
  %tbody
    = render partial: "drill_sessions/drill_session", collection: @drill_sessions
